@import url('<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">');

body {
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

header {
    padding: 20px;
    color: #fff;
    background-color:burlywood;
}

header p {
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
}

main {
    padding: 15px;
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
}

section {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.5em;
}

 h2, p {
    text-align: center;
}

section a, section a:visited {
    text-align: center;
    display: block;
    color:blue;
    margin-bottom: 15px;
    text-decoration: underline;
}

section img {
    max-width: 200px;
    height: 400px;
    box-shadow: blue 5px 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section p {
    padding: 15px;
    background-color: burlywood;
    border-radius: 5px;
}



